@font-face {
    font-family: 'ONE PIECE MANGA FONT';
    font-style: normal;
    font-weight: normal;
    src: local('ONE PIECE MANGA FONT'), url('src/Containers/Assets/one piece font.ttf') format('truetype');
}

h1{
    font-family: 'ONE PIECE MANGA FONT';
}

.gold-outline{
    color: gold;
    text-shadow: -2px -2px 0 #000,2px -2px 0 #000,-2px 2px 0 #000,2px 2px 0 #000;
}

.button1{
    font-family: 'ONE PIECE MANGA FONT';
    color: gold;
    font-size:x-large;
    font-weight: bold;
    width: 50%;
    height: 4rem;
    background-color: black;
    border: transparent;
}