@font-face {
    font-family: 'ONE PIECE MANGA FONT';
    font-style: normal;
    font-weight: normal;
    src: local('ONE PIECE MANGA FONT'), url('src/Containers/Assets/one piece font.ttf') format('truetype');
}

.link{
    text-decoration: none;
}
.button2{
    font-family: 'ONE PIECE MANGA FONT';
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:x-large;
    font-weight: bold;
    width: 10%;
    height: 4rem;
    background-color: black;
    border: transparent;
    text-decoration: none;
}