:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
  }
  
  body {
    margin: 0;
    padding: 0;
    display: flex;
    place-items: center;
    justify-content: center;
    align-items: center;
    min-width: 320px;
    min-height: 100vh;
    background-image: url(src/Containers/opback.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;

  }

  @font-face {
    font-family: 'ONE PIECE MANGA FONT';
    font-style: normal;
    font-weight: normal;
    src: local('ONE PIECE MANGA FONT'), url('src/Containers/one piece font.ttf') format('truetype');
}

h1{
    font-family: 'ONE PIECE MANGA FONT';
    color: gold;
}